<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mapbar.hamster">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!--获取 WiFi 状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--访问定位额外命令 允许程序访问额外的定位提供者指令-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--获取精确位置 通过 GPS 芯片接收卫星的定位信息，定位精度达 10 米以内-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取粗略位置 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500 米-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>

